In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [3]:
r1_with = pd.read_csv('data/r1_with_intensity_ior.csv')
r2_with = pd.read_csv('data/r2_with_intensity_ior.csv')
r3_with = pd.read_csv('data/r3_with_intensity_ior.csv')
r1_without = pd.read_csv('data/r1_without_intensity_ior.csv')
r2_without = pd.read_csv('data/r2_without_intensity_ior.csv')
r3_without = pd.read_csv('data/r3_without_intensity_ior.csv')

In [4]:
# panda create data frame
df = pd.DataFrame({'r1 with intensity': r1_with['status'].value_counts(), 'r1 without intensity': r1_without['status'].value_counts(), 'r2 with intensity': r2_with['status'].value_counts(), 'r2 without intensity': r2_without['status'].value_counts(), 'r3 with intensity': r3_with['status'].value_counts(), 'r3 without intensity': r3_without['status'].value_counts()})
df

,r1 with intensity,r1 without intensity,r2 with intensity,r2 without intensity,r3 with intensity,r3 without intensity
1,321,304,323,297,552,519
0,147,221,170,235,208,274
-1,3,10,4,6,8,7

In [16]:
# find out the origami that was decoded without intensity but not with intensity
r1_with_intensity_success_line_number = set(r1_with[r1_with['status'] == 1]['Line number in file'].values)
r1_without_intensity_success_line_number = set(r1_without[r1_without['status'] == 1]['Line number in file'].values)

r2_with_intensity_success_line_number = set(r2_with[r2_with['status'] == 1]['Line number in file'].values)
r2_without_intensity_success_line_number = set(r2_without[r2_without['status'] == 1]['Line number in file'].values)

r3_with_intensity_success_line_number = set(r3_with[r3_with['status'] == 1]['Line number in file'].values)
r3_without_intensity_success_line_number = set(r3_without[r3_without['status'] == 1]['Line number in file'].values)

In [17]:
r1_mis_calculation = list(r1_without_intensity_success_line_number - r1_with_intensity_success_line_number)
r2_mis_calculation = list(r2_without_intensity_success_line_number - r2_with_intensity_success_line_number)
r3_mis_calculation = list(r3_without_intensity_success_line_number - r3_with_intensity_success_line_number)

In [7]:
r2_without[r2_without['Line number in file'].isin(mis_calculation)]

,Line number in file,origami,status,error,error location,orientation,decoded index,decoded origami,decoded data,decoding time,fit quality
36,155,001000001101100110001000000100101101000001011101,1,5,[(3 7) (5 2) (2 5) (2 2) (1 6)],0,9,001000001101101110101100000100111101000001111101,10000001101111,0.101,1.175423
39,163,001001101010100010100000000111011101000000000001,1,6,[(2 3) (1 7) (4 5) (4 2) (4 4) (2 5)],0,1,001001101010100110110100000111011111110000000001,10011001100000,8.516,1.238343
46,183,001001010100001010010100000011010010000111111000,1,7,[(1 7) (0 4) (4 0) (3 3) (5 6) (4 4...,3,5,010111111101010110111000001010011100001010110100,101111101001011,17.115,1.161474
55,223,000000001001000110100000000100111101000001111100,1,7,[(1 4) (1 6) (0 2) (1 1) (2 4) (5 7...,0,9,001000001101101110101100000100111101000001111101,10000001101111,1.004,1.115225
56,225,000010100011010100000001000110011010010110000000,1,6,[(0 2) (5 4) (4 1) (3 1) (4 6) (1 1)],3,11,000100011110011110011010100000001010111001010100,1000100001010,2.167,1.097561
65,258,010000000100010100001001001010011010000010000100,1,7,[(3 3) (0 3) (4 7) (0 4) (2 0) (3 1...,3,3,001000011000010110011110100100011110001000011010,10000101010110,50.350,1.487097
78,340,010001101100110101000100000000011000000001011000,1,4,[(0 4) (5 0) (4 5) (4 1)],0,12,010011101100110101000100000000011100010011011000,100111001000110,0.029,1.053773
101,433,000000001111101000111110000100001100000010010000,1,7,[(0 3) (0 4) (5 6) (1 7) (0 6) (4 4...,0,4,000110101111101100111110000100001101100010010010,1101000010010,32.391,1.074379
125,541,000100011100001110000000100000001010001001010100,1,7,[(2 3) (4 5) (4 4) (1 5) (2 4) (2 6...,0,11,000100011110011110011010100000001010111001010100,1000100001010,0.074,1.214161
137,625,000011000100110001000100000000011000010010001000,1,7,[(1 7) (0 6) (0 1) (1 0) (5 3) (5 1...,0,12,010011101100110101000100000000011100010011011000,100111001000110,22.278,1.099607
166,745,000100011110010010001010100000001010101001000100,1,5,[(1 7) (4 5) (2 3) (5 3) (1 6)],0,11,000100011110011110011010100000001010111001010100,1000100001010,0.056,0.979761
167,750,001001101010100000100100000010001101110000000001,1,7,[(3 5) (3 3) (2 3) (3 7) (4 2) (2 0...,0,1,001001101010100110110100000111011111110000000001,10011001100000,24.042,1.081618
177,818,000100011110011010010010100000001010011000010100,1,4,[(2 4) (1 7) (5 1) (4 4)],0,11,000100011110011110011010100000001010111001010100,1000100001010,0.030,1.467644
200,901,000100000110001000011010011000111000011010100000,1,6,[(1 7) (1 0) (3 0) (5 7) (5 5) (1 4)],0,6,000100001110101100011010111000111000011010100101,1000001101001,15.931,0.761739
217,974,000010100101010100000000010110011110011110000000,1,4,[(0 2) (5 4) (2 7) (1 2)],3,11,000100011110011110011010100000001010111001010100,1000100001010,0.026,1.423031
244,1089,010001101101000110100000001010011100001010110100,1,6,[(0 3) (2 3) (2 4) (0 7) (0 4) (1 5)],0,5,010111111101010110111000001010011100001010110100,101111101001011,14.070,0.888377
258,1117,000010001101010101101100000010011001010011101100,1,5,[(3 6) (5 7) (5 6) (3 0) (0 6)],0,14,000010101101010101101100100010111001010011101111,101001111101,4.385,1.111055
304,1329,000010100101010101101100100000111001010010101111,1,3,[(1 0) (3 4) (5 1)],0,14,000010101101010101101100100010111001010011101111,101001111101,0.026,1.053394
322,1426,000110000000010110001000001100010010000110000100,1,7,[(2 7) (3 4) (4 0) (3 1) (0 1) (1 6...,3,3,001000011000010110011110100100011110001000011010,10000101010110,8.464,1.216711
341,1522,000110000000001010000000001000101011001100100000,1,7,[(5 3) (5 6) (0 7) (0 6) (1 7) (5 1...,3,12,010011101100110101000100000000011100010011011000,100111001000110,9.233,1.037619
346,1537,001010000001010100000001010110000010001100001000,1,8,[(3 7) (4 0) (0 6) (5 0) (1 2) (4 1...,3,11,000100011110011110011010100000001010111001010100,1000100001010,22.785,0.997077
367,1625,000000010000100000001000010111001101111101000000,1,8,[(0 1) (5 4) (1 7) (0 4) (5 3) (1 6...,3,4,000110101111101100111110000100001101100010010010,1101000010010,17.994,0.939923
375,1681,110000110111000101001010000100111111100001000010,1,7,[(2 0) (0 3) (5 4) (4 7) (0 4) (3 2...,3,13,010100101001111111001100010100111100111011011011,101001001110110,25.513,0.914510
404,1775,110000010000100111010000001101101010101101010000,1,6,[(0 3) (0 5) (0 6) (0 2) (2 7) (1 2)],3,14,000010101101010101101100100010111001010011101111,101001111101,5.448,0.975300
492,2145,000001001010000011000000100110001101100000000100,1,6,[(1 7) (5 0) (0 1) (0 3) (3 1) (2 2)],0,7,010101001010000111100000110110001101100010000100,101010000001000,0.195,0.802289
520,2273,100000000001111010111000001011000001000001100000,1,7,[(4 7) (5 5) (1 7) (1 2) (4 5) (3 7...,3,1,001001101010100110110100000111011111110000000001,10011001100000,1.075,1.108013

In [8]:
r2_with[r2_with['Line number in file'].isin(mis_calculation)]

,Line number in file,origami,status,error,error location,orientation,decoded index,decoded origami,decoded data,decoding time,fit quality
38,163,001001101010100010100000000111011101000000000001,0,7,[(1 7) (1 1) (5 3) (4 5) (1 6) (2 5...,0,1,001001101110111110100100000111011101010000010001,10011001100010,0.564,1.238343
53,223,000000001001000110100000000100111101000001111100,0,7,[(0 2) (0 5) (2 5) (4 6) (0 1) (3 5...,0,9,011001001101000110100100000101111101001001111100,110010001001111,0.119,1.115225
54,225,000010100011010100000001000110011010010110000000,0,8,[(1 4) (5 6) (2 4) (0 3) (4 1) (5 2...,3,11,010001011010111110011100100100001011110001011000,100010100000110,0.767,1.097561
74,340,010001101100110101000100000000011000000001011000,0,8,[(5 2) (0 4) (3 0) (2 2) (1 3) (0 3...,0,10,010111101111110101100100110000011000000001111000,101111001000111,1.037,1.053773
117,541,000100011100001110000000100000001010001001010100,0,7,[(1 3) (2 1) (4 4) (0 2) (5 4) (2 6...,0,11,001100011101001111100010100000001010101001011100,11000100001110,0.213,1.214161
156,745,000100011110010010001010100000001010101001000100,0,8,[(0 0) (1 7) (4 1) (3 3) (0 6) (5 3...,0,11,100100111111010111001010100100001110101001010100,1001001100001010,10.383,0.979761
199,974,000010100101010100000000010110011110011110000000,0,8,[(1 4) (1 6) (0 2) (0 7) (5 4) (3 5...,3,13,000100011110111110111010001000001111101011010100,1000100001010,3.808,1.423031
348,1681,110000110111000101001010000100111111100001000010,0,8,[(4 7) (5 4) (3 4) (5 3) (5 0) (5 2...,3,13,010111111001111111011010010100101000111011001011,101111100110100,2.441,0.914510
375,1775,110000010000100111010000001101101010101101010000,0,8,[(0 3) (0 5) (2 7) (5 2) (1 5) (5 6...,3,6,010011101111010101101100100010111011010010101011,100111001110101,0.356,0.975300

In [20]:
r3_without[r3_without['Line number in file'].isin(r3_mis_calculation)]['decoded index'].value_counts()

3     3
0     3
14    3
13    2
7     2
10    2
12    2
11    2
5     1
2     1
6     1
1     1
8     1
Name: decoded index, dtype: int64

In [1]:
r2_without_intensity_success_line_number

NameError: name 'r2_without_intensity_success_line_number' is not defined